
<div class="brand-details">
  @let error = error$ | async;
  @let loading = loading$ | async;

  @if (loading) {
    <mat-progress-spinner mode="indeterminate" [diameter]="30"></mat-progress-spinner>
  } @else if (error) {
    <mat-card class="error-card">
      <mat-card-header>
        <mat-card-title>Error</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-error>{{ error }}</mat-error>
      </mat-card-content>
    </mat-card>
  } @else {
    <mat-card>
      @let types = types$ | async;
      <mat-card-header>
        <mat-card-title>Vehicle Types ({{ types?.length }})</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (type of types; track type.VehicleTypeId; let last = $last) {
            <mat-list-item>{{ type.VehicleTypeName }}</mat-list-item>
            @if (!last) {
              <mat-divider></mat-divider>
            }
          }
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      @let models = models$ | async;
      <mat-card-header>
        <mat-card-title>Available Models ({{ models?.length }})</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (model of models; track model.Model_ID; let last = $last) {
            <mat-list-item>{{ model.Model_Name }}</mat-list-item>
            @if (!last) {
              <mat-divider></mat-divider>
            }
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  }
</div> 